@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid mt-4">
    <!-- Titulo de la pagina -->
    <div class="row mb-4 align-items-center">
        <div class="col-6">
            <h2>Gestion de Tareas</h2>
        </div>
        <div class="col-6 text-end">
            <!-- Boton alineado a la derecha -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">
                <i class="bi bi-plus-circle-fill"></i> Nueva
            </button>
        </div>
    </div>

    <!-- Card de Bienvenida -->
    <div class="row mb-4">
        <div class="col-12 col-md-6 d-flex align-items-stretch">
            <div class="card flex-fill border-0">
                <div class="card-body d-flex flex-column p-0">
                    <div class="row g-0 w-100">
                        <div class="col-12 col-md-6 p-3">
                            <h5>Bienvenido nuevamente @User.Identity.Name</h5>
                           
                          
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>

@*         Card de resumen *@
        <div class="col-12 col-md-6 d-flex align-items-stretch">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h4 class="mb-2" id="infoTareasCompletas"></h4>
                            <p class="mb-2" id="infoTareasPendientes"></p>
                            <div class="mb-0">
                                <span class="badge text-success me-2" id="infoTareasContTiempo"></span>
                                <span class="text-muted" id="infoTareasTareasVencidas"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- Modal Crear tarea -->
        <div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTaskModalLabel">Nueva Tarea</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form para Crear una tarea -->
                        <form id="createTaskForm" method="post">
                            <div class="mb-3">

                                <label for="taskName" class="form-label">Titulo</label>
                                <input asp-for="Tarea.Titulo" type="text" class="form-control" id="taskName" name="Titulo" required>
                            </div>
                            <div class="mb-3">
                                <label for="taskDescription" class="form-label">Description</label>
                                <textarea asp-for="Tarea.Descripcion" class="form-control" id="taskDescription" name="Descripcion" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="taskDueDate" class="form-label">Fecha</label>
                                <input asp-for="Tarea.FechaFinalizacion" type="date" class="form-control" id="taskDueDate" name="FechaFinalizacion" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar tarea-->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskModalLabel">Editar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form para editar una tarea -->
                <form id="editTaskForm" method="post">
                    <div class="mb-3">
                        <input asp-for="Tarea.Id" hidden="hidden" type="text" class="form-control" id="editarTareaId" name="Id" required>

                        <label for="taskName" class="form-label">Titulo</label>
                        <input asp-for="Tarea.Titulo" type="text" class="form-control" id="editarTareaTitulo" name="Titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Description</label>
                        <textarea asp-for="Tarea.Descripcion" class="form-control" id="editarTareaDescripcion" name="Descripcion" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="taskDueDate" class="form-label">Fecha</label>
                        <input asp-for="Tarea.FechaFinalizacion" type="date" class="form-control" id="editarTareaFechaFinalizacion" name="FechaFinalizacion" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="p-3 m-1" id="titulo-Pendientes">
    <h4>Tareas Pendientes</h4>
</div>

<!-- Tareas pendientes -->
<div class="card border-0" >

    <section style="background-color: #eee;">
        <div class="container py-5">
            @Html.AntiForgeryToken()
            <div class="row row-cols-1 row-cols-md-4 g-4" id="Tareas-pendientes">


            </div>
        </div>
    </section>

</div>

<div class="p-3 m-1" id="titulo-Comnpletas">
    <h4>Tareas completadas</h4>
</div>

<div class="card border-0" ">

    <section style="background-color: #eee;">
        <div class="container py-5">
            @Html.AntiForgeryToken()
            <div class="row row-cols-1 row-cols-md-4 g-4" id="Tareas-completas">
            </div>
        </div>
    </section>

</div>



