@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="mb-3">
    <h4>Admin Dashboard</h4>
</div>
<div class="row">
    <div class="col-12 col-md-6 d-flex">
        <div class="card flex-fill border-0 illustration">
            <div class="card-body p-0 d-flex flex-fill">
                <div class="row g-0 w-100">
                    <div class="col-6">
                        <div class="p-3 m-1">
                            <h4>Bienvenido, @User.Identity.Name</h4>
                            <p class="mb-0">Admin Dashboard, CodzSword</p>

                            <!-- Button to trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">
                                <i class="bi bi-plus-circle-fill"></i> Nueva
                            </button>

                         
                    <div class="col-6 align-self-end text-end">
                        <img src="image/customer-support.jpg" class="img-fluid illustration-img"
                             alt="">
                                <div class="input-group rounded">
                                    <input type="search" class="form-control rounded" id="search-input" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <span class="input-group-text border-0" id="search-addon">
                                        <i class="bi bi-search"></i>
                                    </span>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex">
        <div class="card flex-fill border-0">
            <div class="card-body py-4">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h4 class="mb-2">
                            $ 78.00
                        </h4>
                        <p class="mb-2">
                            Total Earnings
                        </p>
                        <div class="mb-0">
                            <span class="badge text-success me-2">
                                +9.0%
                            </span>
                            <span class="text-muted">
                                Since Last Month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        <!-- Modal Crear tarea -->
        <div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTaskModalLabel">Nueva Tarea</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Task creation form -->
                        <form id="createTaskForm" method="post">
                            <div class="mb-3">

                                <label for="taskName" class="form-label">Titulo</label>
                                <input asp-for="Tarea.Titulo" type="text" class="form-control" id="taskName" name="Titulo" required>
                            </div>
                            <div class="mb-3">
                                <label for="taskDescription" class="form-label">Description</label>
                                <textarea asp-for="Tarea.Descripcion" class="form-control" id="taskDescription" name="Descripcion" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="taskDueDate" class="form-label">Fecha</label>
                                <input asp-for="Tarea.FechaFinalizacion" type="date" class="form-control" id="taskDueDate" name="FechaFinalizacion" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar tarea-->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskModalLabel">Editar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Task creation form -->
                <form id="editTaskForm" method="post">
                    <div class="mb-3">
                        <input asp-for="Tarea.Id" hidden="hidden" type="text" class="form-control" id="editarTareaId" name="Id" required>

                        <label for="taskName" class="form-label">Titulo</label>
                        <input asp-for="Tarea.Titulo" type="text" class="form-control" id="editarTareaTitulo" name="Titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Description</label>
                        <textarea asp-for="Tarea.Descripcion" class="form-control" id="editarTareaDescripcion" name="Descripcion" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="taskDueDate" class="form-label">Fecha</label>
                        <input asp-for="Tarea.FechaFinalizacion" type="date" class="form-control" id="editarTareaFechaFinalizacion" name="FechaFinalizacion" required>
                    </div>
                @*     <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="editarTareaIsTerminada" name="IsTerminada">
                        <label asp-for="Tarea.IsTerminada" 1class="form-check-label" for="editTaskCompleted">Completed</label>
                    </div> *@
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="p-3 m-1" id="titulo-Pendientes">
    <h4>Tareas Pendientes</h4>
</div>

<!-- Tareas pendientes -->
<div class="card border-0" >

    <section style="background-color: #eee;">
        <div class="container py-5">
            @Html.AntiForgeryToken()
            <div class="row row-cols-1 row-cols-md-4 g-4" id="Tareas-pendientes">


            </div>
        </div>
    </section>

</div>

<div class="p-3 m-1" id="titulo-Comnpletas">
    <h4>Tareas completadas</h4>
</div>

<div class="card border-0" ">

    <section style="background-color: #eee;">
        <div class="container py-5">
            @Html.AntiForgeryToken()
            <div class="row row-cols-1 row-cols-md-4 g-4" id="Tareas-completas">
            </div>
        </div>
    </section>

</div>



